<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venue order</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="assets/js/myJs.js"></script>

</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Venue Order</a>
        </div>

        <div class="header-right">

            <a href="message-task.html" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i class="fa fa-bars fa-2x"></i></a>
            <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>

        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div class="user-img-div">
                        <img src="assets/img/user.png" class="img-thumbnail" />

                        <div class="inner-text">
                            Welcome, <br />Jhon Deo Alex!                    <!--request-->
                            <br />
                        </div>
                    </div>

                </li>


                <li>
                    <a href="index.html"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>

                <li>
                    <a class="active-menu" href="form.html"><i class="fa fa-desktop "></i>My Infomation </a>
                </li>
                <li>
                    <a href="venue.html"><i class="fa fa-anchor "></i>The Venue</a>
                </li>

                <li>
                    <a href="order.html"><i class="fa fa-square-o "></i>My Order</a>
                </li>
                <li>
                    <a href="news.html"><i class="fa fa-coffee "></i>News Center</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">MY INFOMATION</h1>
                    <h1 class="page-subhead-line">Fill in the form below to modify your self infomation. </h1>

                </div>
            </div>

            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            PROFILE
                        </div>
                        <div class="panel-body form-horizontal">
                            <br role="form" >
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control col-sm-6" id="name" onblur="isChinese(this.value)" placeholder="请输入中文！">
                                </div>
                            </div>
                            <script>
                                function isChinese(obj){
                                    var reg=/^[\u0391-\uFFE5]+$/;
                                    if(obj!=""&&!reg.test(obj)){
                                        alert('必须输入中文！');
                                        return false;
                                    }
                                }</script>

                            <br/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Sex</label>
                                <div class="radio col-sm-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="male" checked>Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="female">Female
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone number</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="phone" onblur="isMobile(this.value)">
                                </div>
                            </div>
                            <script>
                                function isMobile(mobile)
                                {
                                    if(mobile.length==0)
                                    {
                                        alert('手机号码不能为空！');
                                        return false;
                                    }
                                    if(mobile.length!=11)
                                    {
                                        alert('请输入有效的手机号码，需是11位！');
                                        return false;
                                    }

                                    var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                                    if(!myreg.test(mobile))
                                    {
                                        alert('请输入有效的手机号码！');
                                        return false;
                                    }
                                }
                            </script>
                            <br/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <form name="myForm" >

                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" id="email" onblur="isEmail()" >
                                    </div>
                                </form>
                            </div>
                            <script>
                                function isEmail(){
                                    var x=document.forms["myForm"]["email"].value;
                                    var atpos=x.indexOf("@");
                                    var dotpos=x.lastIndexOf(".");
                                    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length){
                                        alert("不是一个有效的 e-mail 地址");
                                        return false;
                                    }
                                }</script>
                            <br/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Self Introduction</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="3" placeholder="Please introduce yourself"></textarea>
                                    <p class="help-block">Please text less than 100 words.</p>
                                </div>
                            </div>
                            <br/>



                            <div class="col-sm-offset-2 col-sm-3">
                                <button type="submit" class="btn btn-success" onclick="sure()">Save </button>
                                <a class="btn btn-md btn-default"  href="form.html">Return </a>
                            </div>
                            <script>
                                function sure(){
                                    var x;
                                    var r=confirm("是否确定提交？");
                                    if (r==true){
                                        alert("提交成功!");
                                    }
                                }
                            </script>

                            </form>

                    </div>
                </div>

            </div>

        </div>

    </div>
    <div id="footer-sec" align="center">
        Copyright &copy; 2018 VenueOrder.
    </div>
</div>

</body>
</html>
