<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venue order</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet" th:href="@{/css/basic.css}"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />


</head>

<body>
<div id="wrapper"th:each="m: ${m}">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"th:href="@{/manager/index(managerId=${m.id})}"> Venue Order</a>
        </div>

        <div class="header-right">

            <a href="messagemanage.html" th:href="@{/message/messageList(managerId=${m.id})}" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="index-admin.html" th:href="@{/manager/index(managerId=${m.id})}" class="btn btn-primary" title="Home"><i class="fa fa-home fa-2x"></i></a>
            <a href="loginAdmin.html" th:href="@{/manager/login}" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>


        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu" >
                <li>
                    <div class="user-img-div">
                        <img th:src="@{/img/user.png}" src="../static/img/user.png" class="img-thumbnail" />

                        <div class="inner-text" >
                            Welcome, <br />

                            <p th:text="${m.name}">name</p>

                            <br />
                        </div>
                    </div>

                </li>


                <li>
                    <a class="active-menu" th:href="@{/manager/index(managerId=${m.id})}" href="index-admin.html"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>
                <li>
                    <a href="usermanage.html" th:href="@{/user/userList(managerId=${m.id})}" ><i class="fa fa-edit "></i>User Management</a>
                </li>

                <li>
                    <a href="venuemanage.html" th:href="@{/venue/venueList(managerId=${m.id})}" ><i class="fa fa-anchor "></i>Venue Management</a>
                </li>

                <li>
                    <a href="ordermanage.html" th:href="@{/order/orderList(managerId=${m.id})}" ><i class="fa fa-square-o "></i>Order Management</a>
                </li>
                <li>
                    <a href="newsmanage.html" th:href="@{/news/newsList(managerId=${m.id})}" ><i class="fa fa-coffee "></i>News Management</a>
                </li>
                <li>
                    <a href="messagemanage.html" th:href="@{/message/messageList(managerId=${m.id})}" ><i class="fa fa-edit "></i>Message Management</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">DASHBOARD</h1>
                    <h1 class="page-subhead-line">Welcome to the VenueOrder Platform! </h1>

                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-4">
                    <div class="main-box mb-dull">
                        <a href="usermanage.html" th:href="@{/user/userList(managerId=${m.id})}" >
                            <i class="fa fa-yelp fa-5x"></i>
                            <h5>User Managing</h5>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box mb-red">
                        <a href="venuemanage.html" th:href="@{/venue/venueList(managerId=${m.id})}" >
                            <i class="fa fa-anchor fa-5x"></i>
                            <h5>Venue Modifying</h5>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box mb-pink">
                        <a href="ordermanage.html" th:href="@{/order/orderList(managerId=${m.id})}" >
                            <i class="fa fa-square-o fa-5x"></i>
                            <h5>Order Examining</h5>
                        </a>
                    </div>
                </div>


            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-8">
                <hr />

                <div class="panel panel-default">

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- 轮播（Carousel）指标 -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner" >
                            <div class="item active" style="width:600px;height:300px" >
                                <a href="#"><img th:src="@{/img/slideshow/notice4.jpg}" src="../static/img/slideshow/notice4.jpg" width=100% height=100% alt="First slide"/></a>
                                <div class="carousel-caption">1</div>
                            </div>
                            <div class="item" style="width:600px;height:300px" >
                                <a href="#"><img th:src="@{/img/slideshow/notice5.jpg}" src="../static/img/slideshow/notice5.jpg" width=100% height=100% alt="Second slide"></a>/
                                <div class="carousel-caption">2</div>
                            </div>
                            <div class="item" style="width:600px;height:300px" >
                                <a href="#"><img th:src="@{/img/slideshow/notice6.jpg}" src="../static/img/slideshow/notice6.jpg" width=100% height=100% alt="Third slide"></a>
                                <div class="carousel-caption">3</div>
                            </div>
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div></div>

                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i>Notifications Panel
                        </div>

                        <div class="panel-body">
                            <div class="list-group">

                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i>3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i>Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i>New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i>Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i>New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-info btn-block">View All Alerts</a>
                        </div>

                    </div>
                </div>








            </div>





        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->

<div id="footer-sec" align="center">
    Copyright &copy; 2018 VenueOrder.
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="../static/js/jquery-1.10.2.js" th:href="@{/js/jquery-1.10.2.js}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- PAGE LEVEL SCRIPTS -->
<script src="../static/js/jquery.prettyPhoto.js" th:href="@{/js/jquery.prettyPhoto.js}"></script>
<script src="../static/js/jquery.mixitup.min.js" th:href="@{/js/jquery.mixitup.min.js}"></script>
<!-- METISMENU SCRIPTS -->
<script src="../static/js/jquery.metisMenu.js" th:href="@{/js/jquery.metisMenu.js}"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../static/js/custom.js" th:href="@{/js/custom.js}"></script>
<!-- CUSTOM Gallery Call SCRIPTS -->
<script src="../static/js/galleryCustom.js" th:href="@{/js/galleryCustom.js}"></script>


</body>
</html>
