<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>Venue Order</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <!--WIZARD STYLES-->
    <link href="../static/css/wizard/normalize.css" rel="stylesheet" th:href="@{/css/wizard/normalize.css}"/>
    <link href="../static/css/wizard/wizardMain.css" rel="stylesheet" th:href="@{/css/wizard/wizardMain.css}"/>
    <link href="../static/css/wizard/jquery.steps.css" rel="stylesheet" th:href="@{/css/wizard/jquery.steps.css}"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet" th:href="@{/css/basic.css}"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <!-- -->
    <script>var __links = document.querySelectorAll('a');function __linkClick(e) { parent.window.postMessage(this.href, '*');} ;for (var i = 0, l = __links.length; i < l; i++) {if ( __links[i].getAttribute('data-t') == '_blank' ) { __links[i].addEventListener('click', __linkClick, false);}}</script>
    <script src="../static/js/jquery.min.js"></script>
    <script>$(document).ready(function(c) {
        $('.alert-close').on('click', function(c){
            $('.message').fadeOut('slow', function(c){
                $('.message').remove();
            });
        });
    });
    function frmSub(){
        document.loginform.submit();
    }
    </script>
</head>
<body>


<!-- contact-form -->
<div class="message warning">
    <div class="inset">
        <div class="login-head">
            <h1>VenueOrder Platform</h1>

            <div class="alert-close"> </div>
        </div>



        <form action="/manager/signIn" name="loginform">
            <li>
                <input type="text" class="text" name="name" value="name" required="true" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"><a href="#" class=" icon user"></a>
            </li>
            <div class="clear"> </div>
            <li>
                <input type="password" value="Password" name="password" required="true" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"> <a href="#" class="icon lock"></a>
            </li>
            <div class="clear"> </div>
            <div class="submit">
                <input type="submit"  value="Sign in" >
                <h4><a href="register.html">Lost your Password ?</a></h4>

                <div class="clear">  </div>
                <br/>
                Not register? &nbsp;&nbsp;&nbsp;<a href="register.html" >click here </a>
            </div>

        </form>
    </div>
</div>

<div class="clear"> </div>


</body>
</html>