<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venue order</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet" th:href="@{/css/basic.css}"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
<div id="wrapper"th:each="us: ${u}">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{/user/index(userId=${us.id})}">Venue Order</a>
        </div>

        <div class="header-right">

            <a href="message.html" th:href="@{/message/myMessageList(userId=${us.id})}" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="index.html" th:href="@{/user/myInfo(userId=${us.id})}" class="btn btn-primary" title="Home"><i class="fa fa-home fa-2x"></i></a>
            <a href="loginUser.html" th:href="@{/user/login}" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>


        </div>
    </nav>

    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu" >
                <li>
                    <div class="user-img-div">
                        <img th:src="@{/img/user.png}" src="../static/img/user.png" class="img-thumbnail" />

                        <div class="inner-text" >
                            Welcome, <br />

                            <p th:text="${us.name}">name</p>

                            <br />
                        </div>
                    </div>

                </li>


                <li>
                    <a href="index.html" th:href="@{/user/index(userId=${us.id})}"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>
                <li>
                    <a href="form.html" th:href="@{/user/myInfo(userId=${us.id})}" ><i class="fa fa-desktop "></i>My Information </a>
                </li>
                <li>
                    <a href="venue.html" th:href="@{/venue/myVenueList(userId=${us.id})}"><i class="fa fa-anchor "></i>The Venue</a>
                </li>

                <li >
                    <a class="active-menu" href="order.html" th:href="@{/order/myOrderList(userId=${us.id})}"><i class="fa fa-square-o "></i>My Order</a>
                </li>
                <li>
                    <a href="news.html" th:href="@{/news/myNewsList(userId=${us.id})}"><i class="fa fa-coffee "></i>News Center</a>
                </li>
                <li>
                    <a href="message.html" th:href="@{/message/myMessageList(userId=${us.id})}"><i class="fa fa-edit "></i>Message Board</a>
                </li>
            </ul>

        </div>


    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">NEWS CENTER</h1>
                    <h1 class="page-subhead-line">The news are listed as follows. </h1>
                </div>
            </div>
            <div class="alert alert-info">
            <div class="row">
                <div class="col-md-1">
                    <a class="btn btn-md btn-default" href="news.html" th:href="@{/news/myNewsList(userId=${us.id})}">返回新闻中心</a>
                </div>
            </div><br/>

            <div class="row">
                <div style="width: 95%; text-align: center;" th:each="n: ${n}">
                    <br />
                    <b style="text-align: left; font-size: 18px" th:text="${n.title}">
                        【场馆预约】中北思群堂相关通知
                    </b>
                    <br />
                    <br />
                    <div style="width: 100%; color: Gray">
                        <p th:text="${n.announceTime}">2018-03-05</p>
                    </div>
                    <div  style="width: 100%; color: Gray">
                        <p th:text="${n.author}">ivy</p>
                    </div>
                    <div id="Div2" style="width: 99%; text-align: left">
                        <p style="color:#3e3e3e;text-indent:2em;" th:text="${n.content}">123445466</p>
                    </div>
                    <br />
                    <br />
                </div>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div id="footer-sec" align="center">
    Copyright &copy; 2018 VenueOrder.
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="../static/js/jquery-1.10.2.js" th:href="@{/js/jquery-1.10.2.js}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- PAGE LEVEL SCRIPTS -->
<script src="../static/js/jquery.prettyPhoto.js" th:href="@{/js/jquery.prettyPhoto.js}"></script>
<script src="../static/js/jquery.mixitup.min.js" th:href="@{/js/jquery.mixitup.min.js}"></script>
<!-- METISMENU SCRIPTS -->
<script src="../static/js/jquery.metisMenu.js" th:href="@{/js/jquery.metisMenu.js}"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../static/js/custom.js" th:href="@{/js/custom.js}"></script>
<!-- CUSTOM Gallery Call SCRIPTS -->
<script src="../static/js/galleryCustom.js" th:href="@{/js/galleryCustom.js}"></script>


</body>
</html>
