<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venue order</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet" th:href="@{/css/basic.css}"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Venue Order</a>
        </div>

        <div class="header-right">

            <a href="message-task.html" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="index.html" class="btn btn-primary" title="Home"><i class="fa fa-home fa-2x"></i></a>
            <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>

        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div class="user-img-div">
                        <img src="../static/img/user.png" class="img-thumbnail" />

                        <div class="inner-text">
                            Welcome, <br />Jhon Deo Alex!                    <!--request-->
                            <br />
                        </div>
                    </div>

                </li>


                <li>
                    <a href="index.html"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>

                <li>
                    <a href="form.html"><i class="fa fa-desktop "></i>My Information </a>
                </li>
                <li>
                    <a href="venue.html"><i class="fa fa-anchor "></i>The Venue</a>
                </li>

                <li>
                    <a href="order.html"><i class="fa fa-square-o "></i>My Order</a>
                </li>
                <li>
                    <a class="active-menu" href="news.html"><i class="fa fa-coffee "></i>News Center</a>
                </li>
                <li>
                    <a href="message.html"><i class="fa fa-edit "></i>Message Board</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">NEWS CENTER</h1>
                    <h1 class="page-subhead-line">The news are listed as follows.</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-md-1">
                                <a class="btn btn-md btn-default" href="news.html">返回新闻中心</a>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                        <div style="width: 95%; text-align: center;">
                            <br />
                            <b style="text-align: left; font-size: 18px">
                                【场馆预约】中北思群堂相关通知
                            </b>
                            <br />
                            <br />
                            <div id="Div1" style="width: 100%; color: Gray">
                                发布时间：2018-03-05

                            </div>
                            <div id="Div2" style="width: 99%; text-align: left">
                                <p style="color:#3e3e3e;text-indent:0px;">
                                    <br />
                                </p>
                                <p style="color:#3e3e3e;text-indent:0px;">
                                    各位关注公共体育俱乐部的师生：
                                </p>

                                <p style="color:#3e3e3e;text-indent:2em;">
                                    从11月2日起，中北思群堂因场地维修，暂不接受预约，预约将于12月11日后开放。

                                </p>

                            </div>
                            <br />
                            <br />
                            <div style="text-align: center;">

                            </div>
                        </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div id="footer-sec" align="center">
    Copyright &copy; 2018 VenueOrder.
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="../static/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../static/js/bootstrap.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../static/js/custom.js"></script>


</body>
</html>
