<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venue order</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script>
        function deletesure(){
            var x;
            var r=confirm("确认删除？");
            if (r==true){
                alert("删除成功!");
            }
        }
        function sure(){
            var x;
            var r=confirm("是否确定提交？");
            if (r==true){
                alert("提交成功!");
            }
        }
    </script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Venue Order</a>
        </div>

        <div class="header-right">

            <a href="message-task.html" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="index.html" class="btn btn-primary" title="Home"><i class="fa fa-home fa-2x"></i></a>
            <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>

        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div class="user-img-div">
                        <img src="assets/img/user.png" class="img-thumbnail" />

                        <div class="inner-text">
                            Welcome, <br />Jhon Deo Alex!                    <!--request-->
                            <br />
                        </div>
                    </div>

                </li>


                <li>
                    <a href="index-admin.html"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>
                <li>
                    <a href="usermanage.html"><i class="fa fa-edit "></i>User Management</a>
                </li>

                <li>
                    <a href="venuemanage.html"><i class="fa fa-anchor "></i>Venue Management</a>
                </li>

                <li>
                    <a href="ordermanage.html"><i class="fa fa-square-o "></i>Order Management</a>
                </li>
                <li>
                    <a class="active-menu" href="newsmanage.html"><i class="fa fa-coffee "></i>News Management</a>
                </li>
                <li>
                    <a href="messagemanage.html"><i class="fa fa-edit "></i>Message Management</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">NEWS CENTER</h1>
                    <h1 class="page-subhead-line">The news are listed as follows. </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-10">
                    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">Add New Venue</button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        NEWS
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" role="form" >
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Title</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control col-sm-6" id="name" >
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Text</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" rows="6" ></textarea>
                                            </div>
                                        </div>
                                        <br/>
                                    </form>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <button type="submit" class="btn btn-primary" onclick="sure()">
                                            提交更改
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Title</th>
                                <th>Release Time</th>
                                <th>Announcer</th>
                                <th>TO DO</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <a href="news1.html">
                                        【场馆预约】中北思群堂相关通知 </a></td>
                                <td>2018-12-02</td>
                                <td>Ivy</td>
                                <td>
                                    <a target="_blank" class="btn btn-info "  href="wizard.html">Edit</a>&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger" onclick="deletesure()">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <a href="blank.html">
                                        本平台关于预约问题的通知</a></td>
                                <td>2018-12-02</td>
                                <td>Ivy</td>
                                <td>
                                    <a target="_blank" class="btn btn-info "  href="wizard.html">Edit</a>&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger"  onclick="deletesure()">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <a href="blank.html">
                                        中北大学生活动中心预约上线，10月13日开始试运行</a></td>
                                <td>2018-12-11</td>
                                <td>Fairy</td>
                                <td>
                                    <a target="_blank" class="btn btn-info "  href="wizard.html">Edit</a>&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger"  onclick="deletesure()">Delete</button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <hr />

                </div>
            </div>




        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div id="footer-sec" align="center">
    Copyright &copy; 2018 VenueOrder.
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="assets/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="assets/js/bootstrap.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="assets/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>


</body>
</html>
