<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venue order</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet" th:href="@{/css/basic.css}"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script>
        function deletesure(){
            var x;
            var r=confirm("确定删除？");
            if (r==true){
                alert("删除成功!");
            }
        }
    </script>
</head>

<body>
<div id="wrapper" th:each="us: ${u}">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{/user/index(userId=${us.id})}">Venue Order</a>
        </div>

        <div class="header-right">

            <a href="message.html" th:href="@{/message/myMessageList(userId=${us.id})}" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="index.html" th:href="@{/user/myInfo(userId=${us.id})}" class="btn btn-primary" title="Home"><i class="fa fa-home fa-2x"></i></a>
            <a href="loginUser.html" th:href="@{/user/login}" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>


        </div>
    </nav>

    <!-- /. NAV TOP  -->

    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu" >
                <li>
                    <div class="user-img-div">
                        <img th:src="@{/img/user.png}" src="../static/img/user.png" class="img-thumbnail" />

                        <div class="inner-text" >
                            Welcome, <br />

                            <p th:text="${us.name}">name</p>

                            <br />
                        </div>
                    </div>

                </li>


                <li>
                    <a href="index.html" th:href="@{/user/index(userId=${us.id})}"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>
                <li>
                    <a href="form.html" th:href="@{/user/myInfo(userId=${us.id})}" ><i class="fa fa-desktop "></i>My Information </a>
                </li>
                <li>
                    <a href="venue.html" th:href="@{/venue/myVenueList(userId=${us.id})}"><i class="fa fa-anchor "></i>The Venue</a>
                </li>

                <li >
                    <a class="active-menu" href="order.html" th:href="@{/order/myOrderList(userId=${us.id})}"><i class="fa fa-square-o "></i>My Order</a>
                </li>
                <li>
                    <a href="news.html" th:href="@{/news/myNewsList(userId=${us.id})}"><i class="fa fa-coffee "></i>News Center</a>
                </li>
                <li>
                    <a href="message.html" th:href="@{/message/myMessageList(userId=${us.id})}"><i class="fa fa-edit "></i>Message Board</a>
                </li>
            </ul>

        </div>


    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">MY ORDER</h1>
                    <h1 class="page-subhead-line">My orders are listed as follows. </h1>
                </div>
            </div>

            <div class="row" th:each="us: ${u}">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>User ID</th>
                                <th>Venue ID</th>
                                <th>Venue Name</th>
                                <th>Price</th>
                                <th>Create Time</th>
                                <th>Status</th>
                                <th>To Do</th>
                            </tr>
                            </thead>
                            <tbody id="tbody-categoris">
                            <tr th:each="o: ${myo_list}">
                                <td th:text="${o.id}"></td>
                                <td th:text="${o.userId}"></td>
                                <td th:text="${o.venueId}"></td>
                                <td th:text="${o.venueName}"></td>
                                <td th:text="${o.cost}"></td>
                                <td th:text="${o.createTime}"></td>
                                <td th:text="${o.status}"></td>
                                <td><a th:href="@{/order/deleteMyOrder(id=${o.id},userId=${us.id})}" class="btn btn-sm btn-danger" onclick="deletesure()">Cancel</a></td>
                            </tr>

                            </tbody>
                            <tbody>
                            <tr >
                                <td>1</td>
                                <td>20010109</td>
                                <td>教书院319</td>
                                <td>$10</td>
                                <td>2018-12-02</td>
                                <td>审核中</td>
                                <td><button class="btn btn-sm btn-danger" onclick="deletesure()">Cancel</button></td>
                            </tr>
                            <tr >
                                <td>2</td>
                                <td>3466768</td>
                                <td>文史楼116</td>
                                <td>$10</td>
                                <td>2018-12-02</td>
                                <td >已通过</td>
                                <td><button class="btn btn-sm btn-danger" onclick="deletesure()">Cancel</button></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>357689679</td>
                                <td><a href="#" class="footer-sec">大礼堂</a></td>
                                <td>$10</td>
                                <td>2018-12-11</td>
                                <td>已结束</td>
                                <td><button class="btn btn-sm btn-danger" onclick="deletesure()">Cancel</button></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <hr />

                </div>
            </div>




        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div id="footer-sec" align="center">
    Copyright &copy; 2018 VenueOrder.
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->

<script src="../static/js/jquery-1.10.2.js" th:href="@{/js/jquery-1.10.2.js}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- PAGE LEVEL SCRIPTS -->
<script src="../static/js/jquery.prettyPhoto.js" th:href="@{/js/jquery.prettyPhoto.js}"></script>
<script src="../static/js/jquery.mixitup.min.js" th:href="@{/js/jquery.mixitup.min.js}"></script>
<!-- METISMENU SCRIPTS -->
<script src="../static/js/jquery.metisMenu.js" th:href="@{/js/jquery.metisMenu.js}"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../static/js/custom.js" th:href="@{/js/custom.js}"></script>
<!-- CUSTOM Gallery Call SCRIPTS -->
<script src="../static/js/galleryCustom.js" th:href="@{/js/galleryCustom.js}"></script>


</body>
</html>

