<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venue order</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet" th:href="@{/css/basic.css}"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<script>
    function deletesure(){
    var x;
    var r=confirm("确认删除？");
    if (r==true){
    alert("删除成功!");
    }
    }
    function sure(){
        var x;
        var r=confirm("是否确定提交？");
        if (r==true){
            alert("提交成功!");
        }
    }
</script>
</head>


<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Venue Order</a>
        </div>

        <div class="header-right">

            <a href="messagemanage.html" th:href="@{/message/MessageList}" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="index-admin.html" th:href="@{/manager/signInAsAdmin}" class="btn btn-primary" title="Home"><i class="fa fa-home fa-2x"></i></a>
            <a href="loginAdmin.html" th:href="@{/manager/login}" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>


        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu" th:each="ma: ${m}">
                <li>
                    <div class="user-img-div">
                        <img th:src="@{/img/user.png}" src="../static/img/user.png" class="img-thumbnail" />

                        <div class="inner-text" >
                            Welcome, <br />

                            <p th:text="${ma.name}">name</p>

                            <br />
                        </div>
                    </div>

                </li>


                <li>
                    <a th:href="@{/manager/index}" href="index-admin.html"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>
                <li>
                    <a class="active-menu" href="usermanage.html" th:href="@{/user/userList}" ><i class="fa fa-edit "></i>User Management</a>
                </li>

                <li>
                    <a href="venuemanage.html" th:href="@{/venue/venueList}" ><i class="fa fa-anchor "></i>Venue Management</a>
                </li>

                <li>
                    <a href="ordermanage.html" th:href="@{/order/orderList}" ><i class="fa fa-square-o "></i>Order Management</a>
                </li>
                <li>
                    <a href="newsmanage.html" th:href="@{/news/newsList}" ><i class="fa fa-coffee "></i>News Management</a>
                </li>
                <li>
                    <a href="messagemanage.html" th:href="@{/message/messageList}" ><i class="fa fa-edit "></i>Message Management</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">USER MANAGEMENT</h1>
                    <h1 class="page-subhead-line">All users of the platform are listed as follows. </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>User ID</th>
                                <th>User Name</th>
                                <th>Sex</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>To Do</th>
                            </tr>
                            </thead>

                            <tbody id="tbody-categoris">
                            <tr th:each="us: ${u_list}">
                                <td th:text="${us.id}"></td>
                                <td th:text="${us.name}"></td>
                                <td th:text="${us.sex}"></td>
                                <td th:text="${us.email}"></td>
                                <td th:text="${us.phoneNumber}"></td>
                                <td>
                                    <a th:href="@{/user/deleteUser(id=${us.id})}" class="btn btn-sm btn-danger"  onclick="deletesure()">Delete</a>
                                </td>
                            </tr>

                            </tbody>

                        </table>
                    </div>
                    <hr />

                </div>
            </div>





        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div id="footer-sec" align="center">
    Copyright &copy; 2018 VenueOrder.
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->

<script src="../static/js/jquery-1.10.2.js" th:href="@{/js/jquery-1.10.2.js}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- PAGE LEVEL SCRIPTS -->
<script src="../static/js/jquery.prettyPhoto.js" th:href="@{/js/jquery.prettyPhoto.js}"></script>
<script src="../static/js/jquery.mixitup.min.js" th:href="@{/js/jquery.mixitup.min.js}"></script>
<!-- METISMENU SCRIPTS -->
<script src="../static/js/jquery.metisMenu.js" th:href="@{/js/jquery.metisMenu.js}"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../static/js/custom.js" th:href="@{/js/custom.js}"></script>
<!-- CUSTOM Gallery Call SCRIPTS -->
<script src="../static/js/galleryCustom.js" th:href="@{/js/galleryCustom.js}"></script>

</body>
</html>
