<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venue order</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet" th:href="@{/css/basic.css}"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{/user/index}">Venue Order</a>
        </div>

        <div class="header-right">

            <a href="message.html" th:href="@{/message/myMessageList}" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="index.html" th:href="@{/user/index}" class="btn btn-primary" title="Home"><i class="fa fa-home fa-2x"></i></a>
            <a href="loginUser.html" th:href="@{/user/login}" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>


        </div>
    </nav>

    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu" th:each="us: ${u}">
                <li>
                    <div class="user-img-div">
                        <img th:src="@{/img/user.png}" src="../static/img/user.png" class="img-thumbnail" />

                        <div class="inner-text" >
                            Welcome, <br />

                            <p th:text="${us.name}">name</p>

                            <br />
                        </div>
                    </div>

                </li>


                <li>
                    <a href="index.html" th:href="@{/user/index}"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>

                <li>
                    <a href="form.html" th:href="@{/user/myInfo(id=${us.id})}" ><i class="fa fa-desktop "></i>My Information </a>
                </li>
                <li>
                    <a class="active-menu" href="venue.html" th:href="@{/venue/myVenueList}"><i class="fa fa-anchor "></i>The Venue</a>
                </li>

                <li >
                    <a href="order.html" th:href="@{/order/myOrderList(userId=${us.id})}"><i class="fa fa-square-o "></i>My Order</a>
                </li>
                <li>
                    <a href="news.html" th:href="@{/news/myNewsList}"><i class="fa fa-coffee "></i>News Center</a>
                </li>
                <li>
                    <a href="message.html" th:href="@{/message/myMessageList}"><i class="fa fa-edit "></i>Message Board</a>
                </li>
            </ul>

        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">THE VENUE</h1>
                    <h1 class="page-subhead-line">The available venues are listed as follows.</h1>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Venue ID</th>
                                <th>Venue Name</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Price</th>
                                <th>Available Time</th>
                                <th>TO DO</th>
                            </tr>
                            </thead>

                            <tbody id="tbody-categoris">
                            <tr th:each="ve: ${v_list}">
                                <td th:text="${ve.id}"></td>
                                <td th:text="${ve.name}"></td>
                                <td th:text="${ve.address}"></td>
                                <td th:text="${ve.phoneNumber}"></td>
                                <td th:text="${ve.cost}"></td>
                                <td th:text="${ve.time}"></td>
                                <td>
                                    <a th:href="@{/order/addOrder(userId=${us.id},venueId=${ve.id})}" class="btn btn-sm btn-primary"  onclick="deletesure()">Order Now</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr />
                </div>
            </div>

                <!-- /. ROW  -->
                <div id="port-folio">
                      <div class="row " >
                          <ul id="filters" >
						<li><span class="filter active" data-filter="gym classroom hall">All </span></li>
						<li><span class="filter active">/</span></li>
						<li><span class="filter" data-filter="gym">Gym</span></li>
						<li><span class="filter">/</span></li>
						<li><span class="filter" data-filter="classroom">Classroom</span></li>
						<li><span class="filter">/</span></li>
						<li><span class="filter" data-filter="hall">Hall</span></li>
					</ul>
                <div class="col-md-4 ">

                    <div class="portfolio-item hall mix_all" data-cat="hall" >


                        <img th:src="@{/img/portfolio/hall1.jpg}" src="../static/img/portfolio/hall1.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                            <p>
                                <span>
                                东礼堂
                                </span>
                             <br/>
                                <small>可举办大型活动</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div class="portfolio-item gym mix_all" data-cat="gym" >


                        <img th:src="@{/img/portfolio/gym1.jpg}" src="../static/img/portfolio/gym1.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                            <p>
                                <span>
                                东体育馆
                                </span>
                                <br/>
                                <small>承接小型运动赛事</small>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div class="portfolio-item classroom mix_all" data-cat="classroom" >


                        <img th:src="@{/img/portfolio/classroom1.jpg}" src="../static/img/portfolio/classroom1.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                          <p>
                                <span>
                                文史楼333
                                </span><br/>
                              <small>学生活动用</small>
                          </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row " style="padding-top: 50px;">
                <div class="col-md-4 ">

                    <div  class="portfolio-item classroom mix_all" data-cat="classroom" >


                        <img th:src="@{/img/portfolio/classroom2.jpg}" src="../static/img/portfolio/classroom2.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                           <p>
                                <span>
                                阶梯教室
                                </span><br/>
                               <small>最多容纳300人</small>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div  class="portfolio-item classroom mix_all" data-cat="classroom" >


                        <img th:src="@{/img/portfolio/classroom3.jpg}" src="../static/img/portfolio/classroom3.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                            <p>
                                <span>
                                大会堂
                                </span><br/>
                                <small>可用于大型会议</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div  class="portfolio-item classroom mix_all" data-cat="classroom" >


                        <img th:src="@{/img/portfolio/classroom4.jpg}" src="../static/img/portfolio/classroom4.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                          <p>
                                <span>
                                教书院222
                                </span><br/>
                              <small>可用于大型会议</small>
                          </p>
                        </div>
                    </div>
                </div>

            </div>
                    <div class="row "  style="padding-top: 50px;" >
                <div class="col-md-4 ">

                    <div  class="portfolio-item classroom mix_all" data-cat="classroom" >


                        <img th:src="@{/img/portfolio/classroom5.jpg}" src="../static/img/portfolio/classroom5.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                            <p>
                                <span>
                                教书院444
                                </span><br/>
                                <small>自习教室</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div  class="portfolio-item hall mix_all" data-cat="hall" >


                        <img th:src="@{/img/portfolio/hall2.jpg}" src="../static/img/portfolio/hall2.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                            <p>
                                <span>
                                西礼堂
                                </span><br/>
                                <small>最多容纳600人</small>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div  class="portfolio-item gym mix_all" data-cat="gym" >


                        <img th:src="@{/img/portfolio/gym2.jpg}" src="../static/img/portfolio/gym2.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                          <p>
                                <span>
                                西体育馆
                                </span><br/>
                              <small>对校外开放</small>
                          </p>
                        </div>
                    </div>
                </div>

            </div>
                </div>
               

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
<div id="footer-sec" align="center">
    Copyright &copy; 2018 VenueOrder.
</div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../static/js/jquery-1.10.2.js" th:src="/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../static/js/bootstrap.js" th:src="/js/bootstrap.js"></script>
     <!-- PAGE LEVEL SCRIPTS -->
    <script src="../static/js/jquery.prettyPhoto.js" th:src="/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/jquery.mixitup.min.js" th:src="/js/jquery.mixitup.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../static/js/jquery.metisMenu.js" th:src="/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../static/js/custom.js" th:src="/js/custom.js"></script>
     <!-- CUSTOM Gallery Call SCRIPTS -->
    <script src="../static/js/galleryCustom.js" th:src="/js/galleryCustom.js"></script>
</body>
</html>
