<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venue order</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet" th:href="@{/css/basic.css}"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Venue Order</a>
        </div>

        <div class="header-right">

            <a href="message.html" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="index.html" class="btn btn-primary" title="Home"><i class="fa fa-home fa-2x"></i></a>
            <a href="loginUser.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>

        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div class="user-img-div">
                        <img src="../static/img/user.png" class="img-thumbnail" />

                        <div class="inner-text" th:each="us: ${u}">
                            Welcome, <br />

                            <p th:text="${us.name}">name</p>

                            <br />
                        </div>
                    </div>

                </li>


                <li>
                    <a href="index.html"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>

                <li>
                    <a href="form.html"><i class="fa fa-desktop "></i>My Information </a>
                </li>
                <li>
                    <a class="active-menu" href="venue.html"><i class="fa fa-anchor "></i>The Venue</a>
                </li>

                <li>
                    <a href="order.html"><i class="fa fa-square-o "></i>My Order</a>
                </li>
                <li>
                    <a href="news.html"><i class="fa fa-coffee "></i>News Center</a>
                </li>
                <li>
                    <a href="message.html"><i class="fa fa-edit "></i>Message Board</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">THE VENUE</h1>
                    <h1 class="page-subhead-line">The available venues are listed as follows.</h1>

                </div>
            </div>
                <!-- /. ROW  -->
                <div id="port-folio">
                      <div class="row " >
                          <ul id="filters" >
						<li><span class="filter active" data-filter="gym classroom hall">All </span></li>
						<li><span class="filter active">/</span></li>
						<li><span class="filter" data-filter="gym">Gym</span></li>
						<li><span class="filter">/</span></li>
						<li><span class="filter" data-filter="classroom">Classroom</span></li>
						<li><span class="filter">/</span></li>
						<li><span class="filter" data-filter="hall">Hall</span></li>
					</ul>
                <div class="col-md-4 ">

                    <div class="portfolio-item hall mix_all" data-cat="hall" >


                        <img th:src="@{/img/portfolio/hall1.jpg}" src="../static/img/portfolio/hall1.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                            <p>
                                <span>
                                东礼堂
                                </span>

                            </p>
                            <a target="_blank" class="btn btn-info "  href="wizard.html">Order Now</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div class="portfolio-item gym mix_all" data-cat="gym" >


                        <img src="../static/img/portfolio/gym1.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                            <p>
                                <span>
                                东体育馆
                                </span>

                            </p>
                            <a class="preview btn btn-info" title="Image Title Here" href="../static/img/portfolio/b.jpg"><i class="fa fa-plus fa-2x"></i></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div class="portfolio-item classroom mix_all" data-cat="classroom" >


                        <img src="../static/img/portfolio/classroom1.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                          <p>
                                <span>
                                文史楼333
                                </span>

                            </p>
                            <a class="preview btn btn-info" title="Image Title Here" href="../static/img/portfolio/c.png"><i class="fa fa-plus fa-2x"></i></a>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row " style="padding-top: 50px;">
                <div class="col-md-4 ">

                    <div  class="portfolio-item classroom mix_all" data-cat="classroom" >


                        <img src="../static/img/portfolio/classroom2.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                           <p>
                                <span>
                                阶梯教室
                                </span>

                            </p>
                            <a class="preview btn btn-info " title="Image Title Here" href="../static/img/portfolio/d.jpg"><i class="fa fa-plus fa-2x"></i></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div  class="portfolio-item classroom mix_all" data-cat="classroom" >


                        <img src="../static/img/portfolio/classroom3.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                            <p>
                                <span>
                                大会堂
                                </span>

                            </p>
                            <a class="preview btn btn-info" title="Image Title Here" href="../static/img/portfolio/e.jpg"><i class="fa fa-plus fa-2x"></i></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div  class="portfolio-item classroom mix_all" data-cat="classroom" >


                        <img src="../static/img/portfolio/classroom4.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                          <p>
                                <span>
                                教书院222
                                </span>

                            </p>
                            <a class="preview btn btn-info" title="Image Title Here" href="../static/img/portfolio/h.jpg"><i class="fa fa-plus fa-2x"></i></a>

                        </div>
                    </div>
                </div>

            </div>
                    <div class="row "  style="padding-top: 50px;" >
                <div class="col-md-4 ">

                    <div  class="portfolio-item classroom mix_all" data-cat="classroom" >


                        <img src="../static/img/portfolio/classroom5.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                            <p>
                                <span>
                                教书院444
                                </span>

                            </p>
                            <a class="preview  btn btn-info" title="Image Title Here" href="../static/img/portfolio/g.jpg"> <i class="fa fa-plus fa-2x"></i></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div  class="portfolio-item hall mix_all" data-cat="hall" >


                        <img src="../static/img/portfolio/hall2.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                            <p>
                                <span>
                                西礼堂
                                </span>


                            </p>
                            <a class="preview btn btn-info" title="This is B Hall" href="../static/img/portfolio/b.jpg"><i class="fa fa-plus fa-2x"></i></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                    <div  class="portfolio-item gym mix_all" data-cat="gym" >


                        <img src="../static/img/portfolio/gym2.jpg" class="img-responsive " alt="" />
                        <div class="overlay">
                          <p>
                                <span>
                                西体育馆
                                </span>

                            </p>
                            <a class="preview btn btn-info" title="Image Title Here" href="../static/img/portfolio/c.png"><i class="fa fa-plus fa-2x"></i></a>

                        </div>
                    </div>
                </div>

            </div>
                </div>
               

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
<div id="footer-sec" align="center">
    Copyright &copy; 2018 VenueOrder.
</div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../static/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../static/js/bootstrap.js"></script>
     <!-- PAGE LEVEL SCRIPTS -->
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/jquery.mixitup.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../static/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../static/js/custom.js"></script>
     <!-- CUSTOM Gallery Call SCRIPTS -->
    <script src="../static/js/galleryCustom.js"></script>
</body>
</html>
